* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
	font-family: "Sour Gummy", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(assets/library.jpg)  no-repeat center center/ cover;
}

#container{
    width: 550px;
    height: 450px;
}

#header {
    font-size: 1rem;
    border: solid 2px #fff;
    background-color: rgb(245, 236, 198);
    padding: 5px;
    width: 80% ;
    margin: 20px auto;
    border-radius: 10px;
}

#main-content{
    width : 100%;
    height : 350px;
    background-color:rgba(104, 75, 173, 0.297);
    border-radius: 10px;
    padding: 30px 50px;
    box-shadow: 0 0 10px;
}

#main-content #text-area{
    font-size: 1.7rem;
    line-height: 1.5;
    text-align: center;
}

#main-content #person{
    font-size: 1.8rem;
    text-align: center;
    color: rgba(250, 1, 1, 0.658);
    text-transform: uppercase;
    margin-top: 15px;
}
#button_area{
    text-align: center;
}

#button_area button{
    background-color: black;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 10px;
    margin-top: 20px;
    /* margin-bottom: 20px; */
    border-radius: 5px;
}

#button_area button:active{
    background-color: blue;
}